h6
{

}


.btn1 
{ 
height:35px;
width:259px;
background-color:lightseagreen;
color:white;
font-size:16px;
border:1px solid black;
}

.btn1:hover 
{
background-color:darkturquoise;
color:black;
}

.btn1:focus
{
background-color:white;
color:black;
}


.btn2 
{ 
height:35px;
width:210px;
background-color:lightseagreen;
color:white;
font-size:16px;
border:1px solid black;
}


.btn2:hover 
{
background-color:darkturquoise;
color:black;
}

.btn2:focus
{
background-color:coral;
color:black;
}
